/*
http://www.fossildraw.com/draw.php?currow=6&curcol=2&font=3&grid=off&cellh=6&cellw=13&line=single&mod=smpl&clpcrow=&clpccol=&clprow=&clpcol=&scrlrow=0&scrlcol=0&olduact=cleft&qdb=ba0boilerplate+sass&qeb=ha0&qfb=ba0CALS+sass&curtext=CALS+sass&qgb=ha0&qhb=ba0Theme+Specific+Sass&qhc=ta0Partials+Modules+Vendor&uact=box&txt_status=***+Busy+***&p1=1&text_cell=CALS+sass+library&p2=1
 SASS Cascading Structure:

             +-----------+
             |           |
             |CALS sass  |
             |library    |
             |           |
             +-----------+
                   |
                   |
                   |
                   |
                  \|/
                   V
             +-----------+++---------++
             |Theme      |||Partials ||
             |Specific   |||Modules  ||
             |Sass       |||Vendor   ||
             |           |||         ||
             +-----------+++---------++
*/

////////////////////////////////////////////////////////////////////////////
// include vendor (3rd party sass)
////////////////////////////////////////////////////////////////////////////
///
////////////////////////////////////////////////////////////////////////////
	// Include All vendor sass
	////////////////////////////////////////////////////////////////////////
		//@import "__vendor__.scss"; //include ALL vendor sass
	//
	////////////////////////////////////////////////////////////////////////
	// Include selected vendor sass
	////////////////////////////////////////////////////////////////////////
		//@import "theme-specific-sass/vendor/_example5.scss";
		//@import "theme-specific-sass/vendor/_example6.scss";
		@import "theme/vendor/_owl.carousel.scss";
		@import "theme/vendor/_owl.theme.scss";
		@import "theme/vendor/_font-awesome.scss";

////////////////////////////////////////////////////////////////////////////////
// CALS sass library
////////////////////////////////////////////////////////////////////////////////
///
////////////////////////////////////////////////////////////////////////////////
	// Include All CALS sass
	////////////////////////////////////////////////////////////////////////////
		//@import "__CALS__.scss"; //include ALL uscores sass partials
	//
	////////////////////////////////////////////////////////////////////////////
	// Include selected CALS sass
	////////////////////////////////////////////////////////////////////////////
			//@import "CALS/_reset.scss"; //imports CALS css reset
			@import "CALS/_scaffolding.scss"; //imports CALS scaffolding
			@import "CALS/_mixins.scss";
			//@import "CALS/_button.scss"; //imports CALS button styles
			//@import "CALS/_colors.scss"; //imports CALS color definitions
			//@import "CALS/_fonts.scss"; //imports CALS fonts
			//@import "CALS/_mobile.scss"; //imports CALS mobile styles


////////////////////////////////////////////////////////////////////////////////
// Theme specific sass - Modules, Partials, Vendor
////////////////////////////////////////////////////////////////////////////////

	////////////////////////////////////////////////////////////////////////////
	// Modules ( NON CSS -- mixins,functions, variables)
	////////////////////////////////////////////////////////////////////////////
	///
	////////////////////////////////////////////////////////////////////////////
		// Include All modules
		////////////////////////////////////////////////////////////////////////
			//@import "__modules__.scss"; //include ALL modules
		//
		////////////////////////////////////////////////////////////////////////
		// Include selected modules
		////////////////////////////////////////////////////////////////////////

			@import "theme/modules/_colors.scss";
			//@import "theme-specific-sass/modules/_example2.scss";


	////////////////////////////////////////////////////////////////////////////////
	// Theme includes (Outputs CSS)
	////////////////////////////////////////////////////////////////////////////////
		@import "theme/_header.scss";
		@import "theme/_template_no_sidebar.scss";
		@import "theme/_front-page.scss";
		@import "theme/_home.scss";
		@import "theme/_page.scss";
		@import "theme/_single.scss";
		@import "theme/_single-people.scss";
		@import "theme/_page-people.scss";
		@import "theme/_404.scss";

		//@import "theme/modules/_colors.scss";
		//@import "theme/_structure.scss";
		//@import "theme/_homePage.scss";
		//@import "theme/_page.scss";
		//@import "theme/_footer.scss";
		//@import "theme/_page-help.scss";
		//@import "theme/_page-news.scss";
		//@import "theme/_page-services.scss";
		//@import "theme/_single-post.scss";
        //@import "theme/_comments.scss";
        //@import "theme/_search.scss";



	////////////////////////////////////////////////////////////////////////////
	// Partials (output css)
	////////////////////////////////////////////////////////////////////////////
	///
	////////////////////////////////////////////////////////////////////////////
		// Include All Partials
		////////////////////////////////////////////////////////////////////////
			//@import "__partials__.scss"; //include ALL partials
		//
		////////////////////////////////////////////////////////////////////////
		// Include selected Partials
		////////////////////////////////////////////////////////////////////////
			@import "theme/partials/_utility.scss";
			//@import "theme-specific-sass/partials/_example4.scss";
