/**
 * Applies to front-page.php
 */

body.home{

	header#branding{

		hgroup.heading{

			h1#site-title{
			@extend .accessibleHide;
			}

			h2#site-description{
			@extend .accessibleHide;
			}

		}

	}//END header#branding



	div#main{

		div#primary{

			div#content{
				width:100%;
				padding:0;

				div.slider-content{}

				div.non-slider-content{
					padding:30px;

					article{
						
						h1.entry-title{
						}

					}//END article

					article.loop-default{
					@extend .accessibleHide;
					}

					article.loop-1{
					background-color:red;
					}

					article.loop-2{
					background-color:orange;
					}

					article.loop-3{
					background-color:yellow;
					}

					article.loop-4{
					background-color:green;
					}

					article.loop-5{
					background-color:blue;
					}

					article.loop-6{
					background-color:purple;
					}

					article.loop-7{
					background-color:cyan;
					}

					article.loop-8{
					background-color:tan;
					}

			}//END div.non-slider-content

			}//END div#content

		}//END #primary

	}//END div#main

	

}//END body.home