/**
 * Applies to front-page.php
 */

body.home{

	header#branding{

		hgroup.heading{

			h1#site-title{
			@extend .accessibleHide;
			}

			h2#site-description{
			@extend .accessibleHide;
			}

		}

	}//END header#branding



	div#main{

		div#primary{

			div#content{
				width:100%;
				padding:0;
				margin-top:1px; //fix thin white line from slider
				border-top:5px solid #1d1d1d;//fix thin white line from slider

				div.slider-content{
					div#jacksonlab-owl-carousel{
						div.owl-wrapper-outer{
							div.owl-wrapper{
								div.owl-item{
									div{
										position: relative;

										img{
											display:block;
											width:100%;
											height:auto;
										}

										div.text-content{
											box-sizing:border-box;
											width:100%;
											height:20%;
											background-color:black;
											position:absolute;
											top:0;
											left:0;
											padding:1em;
											background: rgba(0,0,0,.5);
											h3{
												font-size:2em;
												font-family: 'Open Sans', sans-serif;
												color:white;
												opacity:1;
												font-weight: 400;
												letter-spacing: 1px;
												-webkit-font-smoothing: antialiased;
												-moz-osx-font-smoothing: grayscale;
											}	
											p{
												color:white;
												-webkit-font-smoothing: antialiased;
												-moz-osx-font-smoothing: grayscale;
												font-weight: 400;
												opacity:1;
												font-size:1.4em;
											}
										}
									}
								}
							}
						}
					}
				}

				div.non-slider-content{
					padding:30px;

					article{
						
						h1.entry-title{
						}

					}//END article

					article.loop-default{
					@extend .accessibleHide;
					}

					article.loop-1{
					background-color:red;
					}

					article.loop-2{
					background-color:orange;
					}

					article.loop-3{
					background-color:yellow;
					}

					article.loop-4{
					background-color:green;
					}

					article.loop-5{
					background-color:blue;
					}

					article.loop-6{
					background-color:purple;
					}

					article.loop-7{
					background-color:cyan;
					}

					article.loop-8{
					background-color:tan;
					}

			}//END div.non-slider-content

			}//END div#content

		}//END #primary

	}//END div#main

	

}//END body.home