/**
 * Applies to front-page.php //
 */

body.home{

	header#branding{
		padding-bottom:0;

		hgroup.heading{

			h1#site-title{
			@extend .accessibleHide;
			}

			h2#site-description{
			@extend .accessibleHide;
			}

		}

	}//END header#branding



	div#main{
		padding:0;

		div#primary{

			div#content{
				width:100%;
				padding:0;
				margin-top:1px; //fix thin white line from slider
				border-top:5px solid #1d1d1d;//fix thin white line from slider

				div.slider-content{
					div#jacksonlab-owl-carousel{
						div.owl-wrapper-outer{
							div.owl-wrapper{
								div.owl-item{
									div{
										position: relative;

										img{
											display:block;
											width:60%;
											height:auto;
											background-size:contain;
										}

										div.text-content{
											box-sizing:border-box;
											width:40%;
											//height:30%;
											background-color:black;
											position:absolute;
											top:0;
											right:0;
											padding:1em;
											//background: rgba(0,0,0,.5);

											div{
												margin-bottom:0.6em;
												a{	
												
												font-size:2em;
												font-family: 'Open Sans', sans-serif;
												color:white;
												opacity:1;
												font-weight: 400;
												letter-spacing: 1px;
												-webkit-font-smoothing: antialiased;
												-moz-osx-font-smoothing: grayscale;

												}
											}

	
											p{
												color:white;
												-webkit-font-smoothing: antialiased;
												-moz-osx-font-smoothing: grayscale;
												font-weight: 400;
												opacity:1;
												font-size:1.4em;
												margin-bottom:0;
												span{
													margin-top:0.5em;
													font-size:0.95em;
													span{
														margin-left:0.4em;
													}
												}
											}
										}
									}
								}//END owl-item
							}
						}
						div.owl-controls.clickable{
							width:100%;
							height:50px;
							position: absolute;
							bottom:0;
						}
					}
				}

				div.non-slider-content{
					//padding:30px;

					article{
						box-sizing:border-box;
						width:33.33%;
						height:250px;
						float:left;
						margin:0;
						padding:1em 1em 1em 0;
						background-clip:content-box;
						&:nth-of-type(3n+1){
							padding:1em;
						}
						&:nth-child(-n+3){
							padding-bottom:0;
						}
						
						header.entry-header{
							h3{
								padding:0;
							}
						}

					}//END article

					article.loop-default{
					@extend .accessibleHide;
					}

					article.loop-1{
					background-color:red;
					}

					article.loop-2{
					background-color:orange;
					}

					article.loop-3{
					background-color:yellow;
					}

					article.loop-4{
					background-color:green;
					}

					article.loop-5{
					background-color:blue;
					}

					article.loop-6{
					background-color:purple;
					}

					article.loop-7{
					background-color:cyan;
					}

					article.loop-8{
					background-color:tan;
					}

			}//END div.non-slider-content

			}//END div#content

		}//END #primary

	}//END div#main

	

}//END body.home



//****
//OVERRIDES for branch alt-frontpage

body.home{

	header#branding{
		padding-bottom:0;

		hgroup.heading{

			h1#site-title{
			@extend .accessibleHide;
			}

			h2#site-description{
			@extend .accessibleHide;
			}

		}

	}//END header#branding



	div#main{

		div#primary{

			div#content{
				//background-color:transparent;
				 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); //box-shadow: none;
				//border:none;

				div.slider-content{

				}//END .slider-content

				div.non-slider-content{

					.row{
						width:100%;
						height: 300px;
						box-sizing:border-box;

						&#row1{
						background-color:transparent;
						}

						&#row2{
						background-color:transparent;
						}

						&#middle-section{
							height: 150px;
							background-color: gray;
						}

						.JL_featured_wrap{
							@include fontAntialiasing;
							font-family: "Open Sans",sans-serif;

							box-sizing:border-box;
							//background:black url("http://hc.localhost/jacksonlab/wp-content/uploads/sites/91/2015/07/dragonfly.jpg"); //TODO move styles inline php with template-tag
							//background-size:cover;//TODO
							//background-position:center center;//Todo
							height:inherit;
							padding:1.5em;
							position:relative;

							.pane{
							position:absolute;
							top:0;
							left:0;
							right:0;
							bottom:0;
							background-color:black;
							z-index:9;
							opacity:0.33;
							}

							div.imgWrap{
							overflow: hidden;
							position:relative;
							}//END .imgWrap

							h2{
								@include fontAntialiasing;
								font-family: "Open Sans",sans-serif;
								position:absolute;
								top:30px;
								left:30px;
								display:block;
								font-size:18px;
								//color:#222222;
								margin:0;
								color:white;
								z-index:10;
								font-weight:600;
							}

							p{
								@include fontAntialiasing;
								font-family: "Open Sans",sans-serif;
								position:absolute;
								bottom:30px;
								left:30px;
								display:block;
								font-size:14px;
								///color:#222222;
								color:white;
								margin:0;
								z-index:10;
								font-weight: 600;
							}

						}//END .JL_featured_wrap

					}//END .row

				}//END div.non-slider-content

			}//END div#content

		}//END #primary

	}//END div#main

	

}//END body.home