header#branding{
	hgroup.heading{
		form#searchform{
			position:static;
			float:right;
			margin-top:3.8em;

			div.relative{
				input#s{
					height:30px;
					min-width:90px;
				}//END input#s
			}//END .relative
		}//END #searchform
	}//END .heading
	nav#access{
		ul ul{
			box-shadow:none;
		}
		div.centerfix{

				ul li a{
					text-transform: uppercase;
				}

				div.customMenuItems{
					ul.menu{
						li.menu-item{
							a{}
						}
						ul.sub-menu{}
					}
				}//END .customMenuItems

		}//END .centerfix
	}//END nav#access
}//END header#branding

div#mobile-menu{}//END #mobile-menu

div#mobile-filter{}//END #mobile-filter