/**
 * Applies to page-people.php
 */

body.page-people{

	header#branding{

		hgroup.heading{

			h1#site-title{
			@extend .accessibleHide;
			}

			h2#site-description{
			@extend .accessibleHide;
			}

		}

	}

	div#main{

		div#primary{

			div#content{
				width:100%;
				article{
					padding-bottom:3em;

					header{}
					div.entry-content{
						div.imageWrapper{
							background-color:$grayBorder;
							width:300px;
							height:300px;
							display:block;
							float:left;
							border-radius:5px;

							img{
								display:block;
								padding-left:35px;
								padding-top:35px;
							}
						}
						div.description{
							background-color:$lightGrayBorder;
							display: block;
							float: left;
							width:60%;
							margin-left:2em;
							padding:1em;
							font-size:1.2em;
							line-height:2em;
							max-height: 300px;
							height:300px;
							overflow:hidden;

						}
					}
				}
			}
		}

	}

}