/**
 * Applies to page-people.php
 */

body.page-people{

	header#branding{

		hgroup.heading{

			h1#site-title{
			@extend .accessibleHide;
			}

			h2#site-description{
			@extend .accessibleHide;
			}

		}

	}

	div#main{

		div#primary{

			div#content{
				width:100%;
				article{
					background-color:$lightGrayBorder;
					//padding-bottom:3em;
					margin-bottom:4em;
					padding-left:1em;


					header{
						//padding-left:2em;
						padding:1em 0 0 2em;
					}
					div.entry-content{
						//background-color:$lightGrayBorder;
						padding: 0 2em 2em 2em;
						div.imageWrapper{
							//background-color:$grayBorder;
							width:300px;
							height:300px;
							display:block;
							float:left;
							//border-radius:5px;
							//background-image:url("")

							img{
								display:block;
								//padding-left:35px;
								//padding-top:35px;
								width:100%;
							}
						}
						div.description{
							background-color:$lightGrayBorder;
							display: block;
							//display: none;
							float: left;
							width:60%;
							//margin-left:2em;
							//padding:1em;
							padding: 0 1em 1em 1em;
							font-size:1.2em;
							line-height:2em;
							////max-height: 300px;
							////height:300px;
							////overflow:hidden;

							a span.meta-nav{
								display: none;
							}//END .meta-nav

						}
					}
				}
			}
		}

	}

}